<header class="header">
  <nav>
    <table width="100%" style="border: none">
      <tr style="border: none">
        <td style="border: none"><a routerLink="home">Home</a></td>
        <td style="border: none"></td>
        <td style="border: none">
          <img src="../assets/logo.png" alt="LOGO" class="logo" />
          <!-- <h1 class="h1">UBS Message Processor</h1> -->
        </td>
        <td style="border: none"><a routerLink="login">Login</a></td>
        <td style="border: none"><a routerLink="logout">Logout</a></td>
      </tr>
    </table>
  </nav>
</header>
