<div>
  <table width="100%">
    <tr>
      <th>Portfolio</th>
      <th>Order</th>
      <th>Customer</th>
    </tr>
    <tr>
      <td>
        <nav><a routerLink="get-portfolio">GetPortfolio</a></nav>
      </td>
      <td>
        <nav><a routerLink="get-portfolio">GetOrder</a></nav>
      </td>
      <td>
        <nav><a routerLink="get-portfolio">GetCustomer</a></nav>
      </td>
    </tr>
    <tr>
      <td>
        <nav><a routerLink="get-portfolio">CreatePortfolio</a></nav>
      </td>
      <td>
        <nav><a routerLink="get-portfolio">CreateOrder</a></nav>
      </td>
      <td>
        <nav><a routerLink="get-portfolio">CreateCustomer</a></nav>
      </td>
    </tr>
  </table>
</div>
